.mainFooter {
    background: #222831;
    color: #fff;
    text-align: center;
    padding: 10px;
    font-size: 1.25em;
  }
  
  .mainFooter a {
    color: white;
    text-decoration: none;
    border-bottom: 2px solid transparent;
    transition: 0.5s;
  }
  
  .mainFooter a:hover {
    border-bottom: 2px solid white;
    transition: 0.5s;
  }
  
  .mainFooter h6 {
    font-size: 0.75em;
    font-weight: normal;
  }
  
  .about-me-wrapper {
    font-size: 2.2em;
    padding-left: 25%;
    padding-right: 25%;
    padding-top: 35px;
  }
}