body,
html {
  font-family: "Montserrat", Arial, "Lato", sans-serif;
  margin: 0px; /* Overrides the default margin, allows the portfolio images to be right against the side of the page */
  scroll-behavior: smooth;
  overflow-x: hidden;
}

.container {
  display: grid;
  background: #f6f0ef;
}

.content {
  font-size: 1.8em;
  margin: 0;
}

/* --- SECTIONS --- */
/* ----- SECTION 1 ----- */

.section1 {
  background-color: white;
  display: grid;
  border-radius: 16px;
  gap: 20px;
  padding: 15px;
  /* grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr; */
}

.section-1-image-wrapper img {
  border-radius: 16px;
  width: 100%;
  height: auto;
}
.section1-text-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-left: 20px;
  padding-right: 10px;
}

@media only screen and (min-width: 460px) {
  .section1 {
    margin: 50px 15px;
  }
  .section-1-image-wrapper img {
    width: 400px;
    height: 600px;
  }
}

@media only screen and (min-width: 952px) {
  .section1 {
    grid-template-columns: 3fr 1fr;
    margin: 50px 15px;
  }
}

@media only screen and (min-width: 1250px) {
  .section1 {
    grid-template-columns: 3fr 1fr;
    margin: 50px 50px;
  }
}

@media only screen and (min-width: 1400px) {
  .section1 {
    grid-template-columns: 3fr 1fr;
    margin: 50px 150px;
  }
}

.section-1-image-wrapper {
  display: flex;
  justify-content: center;
}

.section1 h1 {
  font-size: 100px;
  margin: 20px 0px;
  font-weight: 900;
}

.section1 h2 {
  font-size: 30px;
  margin: 20px 0px;
  font-weight: 500;
}

.section1 h3,
strong {
  font-size: 20px;
  margin: 0px;
  font-weight: 300;
}

.section1 a {
  font-size: 20px;
  margin-top: 50px;
  font-weight: 700;
  text-decoration: none;
  text-transform: lowercase;
  color: #ce0f3d;
  transition: all ease-out 0.55s;

  border-bottom: 1px solid transparent;
}

.section1 a:hover {
  transition: all linear 0.5s;
  border-bottom: 1px solid #ce0f3d;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted gray; /* If you want dots under the hoverable text */
  margin: 0;
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 300px;
  background-color: gray;
  color: #fff;
  font-size: 12px;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  margin-left: -150px;
}

/* ----- SECTION 2 ----- */

.section2 {
  margin: 0px;
  display: grid;
  justify-content: center;
  gap: 20px;
  grid-template-columns: 250px;
  grid-template-rows: 700px 700px 700px 700px;
  padding: 20px;
}

.section-2-project-header {
  background: white;
  border-radius: 16px;
  grid-column-start: 1;
  grid-column-end: 5;
  align-self: center;
  justify-self: center;
  padding: 40px 20px 50px 20px;
}

.section-2-project-header h1 {
  font-size: 60px;
  margin: 20px 0px;
  font-weight: 900;
  padding: 10px;
  border-bottom: 4px solid #ce0f3d;
}

.section-2-project-card {
  background: white;
  border-radius: 16px;
  grid-template-columns: 250px;

  grid-template-rows: 258px 442px;
}

.section-2-project-card img {
  border-radius: 16px 16px 0px 0px;
  border-bottom: 8px solid #222831;
}

@media only screen and (min-width: 560px) {
  .section2 {
    grid-template-columns: 250px 250px;
    grid-template-rows: 700px 700px;
  }
}

@media only screen and (min-width: 1100px) {
  .section2 {
    grid-template-columns: 250px 250px 250px 250px;
    grid-template-rows: auto 700px;
  }
}

/* @media only screen and (min-width: 1400px) {
  .section2 {
    background: blue;
    margin: 50px 10px;
    display: grid;
    padding: 20px;
    border-radius: 16px;
    gap: 20px;
    justify-content: center;
    grid-template-columns: repeat(auto-fill, minmax(500px, 700px));
  }

  .section-2-project-card {
    background: white;
    border-radius: 16px;
    display: grid;
    grid-template-columns: 258px 1fr;
    
    
  }


}

@media only screen and (min-width: 952px) {
  .section2 {
    margin: 50px 15px;
  }
}

@media only screen and (min-width: 1250px) {
  .section2 {
    margin: 50px 50px;
  }
}

@media only screen and (min-width: 1400px) {
  .section2 {
    margin: 50px 150px;
  }
} */

/* --- FOOTER ---  */

.mainFooter {
  background: #222831;
  color: #fff;
  text-align: center;
  padding: 10px;
  font-size: 1.25em;
}

.mainFooter a {
  color: white;
  text-decoration: none;
  border-bottom: 2px solid transparent;
  transition: 0.5s;
}

.mainFooter a:hover {
  border-bottom: 2px solid white;
  transition: 0.5s;
}

.mainFooter h6 {
  font-size: 0.75em;
  font-weight: normal;
}
