body,
html {
  font-family: "Montserrat", Arial, "Lato", sans-serif;
  margin: 0px; /* Overrides the default margin, allows the portfolio images to be right against the side of the page */
  scroll-behavior: smooth;
  overflow-x: hidden;
}

.container {
  display: grid;
  background: #f6f0ef;
}

/* --- SECTIONS --- */
/* ----- SECTION 1 ----- */

.section1 {
  background-color: white;
  display: grid;
  border-radius: 16px;
  gap: 20px;
  padding: 15px;
  margin: 10px 10px;
  /* grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr; */
}

.section-1-image-wrapper img {
  border-radius: 16px;
  width: 100%;
  height: auto;
}
.section1-text-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-left: 20px;
  padding-right: 10px;
}

@media only screen and (min-width: 460px) {
  .section1 {
    margin: 50px 15px 0px 15px;
  }
  .section-1-image-wrapper img {
    width: 400px;
    height: 600px;
  }
}

@media only screen and (min-width: 952px) {
  .section1 {
    grid-template-columns: 3fr 1fr;
    margin: 50px 15px 0px 15px;
  }
}

@media only screen and (min-width: 1250px) {
  .section1 {
    grid-template-columns: 3fr 1fr;
    margin: 50px 50px 0px 50px;
  }
}

@media only screen and (min-width: 1400px) {
  .section1 {
    grid-template-columns: 3fr 1fr;
    margin: 50px 150px 0px 150px;
  }
}

.section-1-image-wrapper {
  display: flex;
  justify-content: center;
}

.section1 h1 {
  font-size: 100px;
  margin: 20px 0px;
  font-weight: 900;
}

.section1 h2 {
  font-size: 30px;
  margin: 20px 0px;
  font-weight: 500;
}

.section1 h3,
strong {
  font-size: 20px;
  margin: 0px;
  font-weight: 300;
}

.section1 a {
  font-size: 20px;
  margin-top: 50px;
  font-weight: 700;
  text-decoration: none;
  text-transform: lowercase;
  color: #ce0f3d;
  transition: all ease-out 0.3s;

  border-bottom: 1px solid transparent;
}

.section1 a:hover {
  transition: all linear 0.3s;
  border-bottom: 1px solid #ce0f3d;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted gray;
  margin: 0;
  cursor: default;
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 300px;
  background-color: gray;
  color: #fff;
  font-size: 12px;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  margin-left: -150px;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

@media only screen and (max-width: 650px) {
  .tooltip .tooltiptext {
    width: 150px;
    margin-left: -75px;
  }
}

/* ----- SECTION 2 ----- */

.section2 {
  margin: 0px;
  display: grid;
  justify-content: center;
  gap: 20px;
  grid-template-columns: 250px;
  grid-template-rows: auto 700px 700px 700px 700px;
  padding: 20px;
}

.section2 a {
  text-decoration: none;
  color: black;
}

.section-2-project-header {
  background: white;
  border-radius: 16px;
  grid-column-start: 1;
  grid-column-end: 2;
  align-self: center;
  justify-self: center;
  padding: 40px 20px 50px 20px;
}

.section-2-project-header h1 {
  font-size: 60px;
  margin: 20px 0px;
  font-weight: 900;
  padding: 10px;
  border-bottom: 4px solid #ce0f3d;
}

.section-2-project-card {
  background: white;
  border-radius: 16px;
  display: grid;
  grid-template-rows: 258px 100px;
  backface-visibility: hidden;

  transition: all 0.25s ease-in-out;
}

.section-2-project-card:hover {
  /* box-shadow: 0 2px 10px #64081e; */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  transform: translateY(-10px);

  transition: all 0.25s ease-in-out;
}

.section-2-project-card img {
  border-radius: 16px 16px 0px 0px;
  border-bottom: 8px solid #222831;
}

@media only screen and (min-width: 560px) {
  .section2 {
    grid-template-columns: 250px 250px;
    grid-template-rows: auto 700px 700px;
  }

  .section-2-project-header {
    grid-column-start: 1;
    grid-column-end: 3;
  }
}

@media only screen and (min-width: 1100px) {
  .section2 {
    grid-template-columns: 250px 250px 250px 250px;
    grid-template-rows: auto 700px;
  }

  .section-2-project-header {
    grid-column-start: 1;
    grid-column-end: 5;
  }
}

.section-2-project-card h1 {
  font-size: 24px;
  padding: 10px;
  color: #ce0f3d;
  margin: 0px;
  align-self: center;
  justify-self: center;
  text-align: center;
}

.section-2-project-card p {
  padding: 5px;
  font-size: 16px;
  justify-content: end;
  margin: 0px;
}


/* --- SECTION 3 --- */

.section3 {
  display: grid;
  background: white;
  border-radius: 16px;
  margin: 20px 10px 70px 10px;
  padding: 0;
  gap:20px;

}

.head2 {
  margin-top: 25px;
}

.input-field input, textarea {
  border: 2px solid grey;
  border-radius: 4px;
  width: 250px;
  font-family: "Montserrat", Arial, "Lato", sans-serif;
  font-size: 16px;
  padding: 10px;
  

}

@media only screen and (min-width: 460px) {


  .section3 {
    margin: 20px 50px 70px 50px;
  }

  
}


@media only screen and (min-width: 560px) {
  .input-field input, textarea {

    width: 350px;

  
  }
}


@media only screen and (min-width: 952px) {


  .section3 {
    margin: 20px 170px 70px 170px;
  }

}




@media only screen and (min-width: 1250px) {
.section3 {
  display: grid;
  justify-content: center;

  background: white;
  border-radius: 16px;
  grid-template-columns: 400px 400px;
  padding: 20px;
  margin: 20px 200px 70px 200px;

  gap: 50px;

  

  }

  .head2 {
    grid-column: 2;
    grid-row: 1;
    
    
  }

  .head1, .head2 {
    margin-top: 50px;
  }


}

@media only screen and (min-width: 1400px) {
.section3 {

  margin: 20px 330px 70px 330px;

  }
}

@media only screen and (min-width: 1700px) {
.section3 {

  margin: 20px 460px 70px 460px;

  }


}

.section-3-contact-header {
  justify-self: center;
 
}

.section-3-contact-header h1 {
  border-bottom: 2px solid #ce0f3d;
}

.form-wrapper {
  display: flex;
  flex-direction: column;
  
  border-radius: 8px;
  align-items: center;
  

}

.input-field h4{
  color: #ce0f3d;
  margin-bottom: 5px;
}



.input-field textarea {
  height: 150px;
  resize: vertical;
}

.form-wrapper button {
  font-family: "Montserrat", Arial, "Lato", sans-serif;
  background-color: #ce0f3d; 
  border: none;
  border-radius: 8px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 8px;
  cursor: pointer;

}

.form-wrapper button:hover {
  background-color: #af1035;
  transform: translateY(1px);

}

.social-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 25px;
  
}


.social-wrapper a {
  display: grid;
  grid-template-columns: 150px 150px;
  text-decoration: none;
  color: white;
  font-size: 18px;
  border-radius: 4px;
  margin: 20px 0;
  padding: 10px;
  width: 300px;
  justify-content: center;
}

.social-wrapper i {
  justify-self: flex-end;
  align-self: center;
  padding-right: 50px;
}

.a-email, .a-github, .a-linkedIn, .a-handshake, .a-instagram {
  background: linear-gradient(to right, #ce0f3d, rgb(226, 114, 40));
}

.a-email:hover, .a-github:hover, .a-linkedIn:hover, .a-handshake:hover, .a-instagram:hover {
  
  background: linear-gradient(to left, #ce0f3d, red);
  transform: translateY(1px);

  

}





















/* --- FOOTER ---  */

.mainFooter {
  background: #222831;
  color: #fff;
  text-align: center;
  padding: 10px;
  font-size: 1.25em;
}

.mainFooter a {
  color: white;
  text-decoration: none;
  border-bottom: 2px solid transparent;
  transition: 0.5s;
}

.mainFooter a:hover {
  border-bottom: 2px solid white;
  transition: 0.5s;
}

.mainFooter h6 {
  font-size: 0.75em;
  font-weight: normal;
}
