.hero-img-wrapper {
  display: felxbox;
}

@media (min-width: 0px) {
  .hero-img-background {
    height: 300px;
    width: 100%;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;

    background-position-y: -30px;
    background-size: 700px;

    border-bottom: 20px solid #222831;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.1);
  }

  .hero-img-subtitle {
    background-color: #ce0f3d; /* Fallback color */
    background-color: rgba(206, 15, 61, 0.1); /* Scarlet and opaque */
    color: #f1f1f1;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    text-align: center;
    font-size: 16px;

    position: absolute;

    top: 150px;
    left: 50%;
    width: 80%;
    transform: translate(-50%, -50%);

    z-index: 2;
    width: 80%;
    padding: 5px;
  }
}

@media (min-width: 480px) {
  .hero-img-background {
    height: 430px;
    width: 100%;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;

    background-position-y: -40px;
    background-size: 1000px;

    border-bottom: 20px solid #222831;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.1);
  }

  .hero-img-subtitle {
    background-color: #ce0f3d; /* Fallback color */
    background-color: rgba(206, 15, 61, 0.1); /* Scarlet and opaque */
    color: #f1f1f1;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    text-align: center;
    font-size: 20px;

    position: absolute;

    top: 215px;
    left: 50%;
    width: 80%;
    transform: translate(-50%, -50%);

    z-index: 2;
    width: 80%;
    padding: 20px;
  }
}

@media (min-width: 768px) {
  .hero-img-background {
    height: 550px;
    width: 100%;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;

    background-position-y: -20px;
    background-size: 1200px;

    border-bottom: 20px solid #222831;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.1);
  }

  .hero-img-subtitle {
    background-color: #ce0f3d; /* Fallback color */
    background-color: rgba(206, 15, 61, 0.1); /* Scarlet and opaque */
    color: #f1f1f1;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    text-align: center;
    font-size: 24px;

    position: absolute;

    top: 275px;
    left: 50%;
    width: 80%;
    transform: translate(-50%, -50%);

    z-index: 2;
    width: 80%;
    padding: 30px;
  }
}

@media (min-width: 952px) {
  .hero-img-background {
    height: 730px;
    width: 100%;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;

    border-bottom: 20px solid #222831;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.1);
  }

  .hero-img-subtitle {
    background-color: #ce0f3d; /* Fallback color */
    background-color: rgba(206, 15, 61, 0.1); /* Scarlet and opaque */
    color: #f1f1f1;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    text-align: center;
    font-size: 28px;

    position: absolute;

    top: 365px;
    left: 50%;
    width: 80%;
    transform: translate(-50%, -50%);

    z-index: 2;
    width: 80%;
    padding: 40px;
  }
}

/* NAV WRAPPER */

@media (min-width: 0px) {
  .nav-wrapper {
    visibility: hidden;
  }

  .mobile-nav-wrapper {
    position: absolute;
    background-color: #222831;
    top: 300px;
    width: 100%;
    height: 40px;
    text-align: left;
  }

  .mobile-nav-wrapper a {
    font-size: 22px;
    color: white;
    text-decoration: none;
    display: block;
    padding: 14px 16px;
    background: #222831;
  }

  .icon {
    float: right;
    visibility: visible;
    position: absolute;
    right: 0;
    top: 0;
  }

  .mobile-nav-link-wrapper #mobileLinks {
    visibility: hidden;
    font-size: 22px;
    color: white;
    text-decoration: none;
    padding: 14px 16px;
    display: block;
    background: #222831;
  }

  .sticky {
    position: fixed;
    top: 0;
  }

  .sticky + .content {
    padding-top: 60px;
  }

  .btn-current-mobile {
    color: #ce0f3d !important;
  }

  .btn1-mobile {
    transition: 0.5s;
  }
}

@media (min-width: 480px) {
  .mobile-nav-wrapper {
    top: 430px;
  }

  .sticky {
    top: 0;
  }
}

@media (min-width: 768px) {
  /* Hide the mobile bar */
  .mobile-nav-wrapper {
    visibility: hidden;
  }

  .mobile-nav-link-wrapper {
    visibility: hidden;
  }

  .icon {
    visibility: hidden;
  }

  .btn1-mobile,
  .btn2-mobile,
  .btn3-mobile,
  .btn4-mobile {
    transition: 0s;
  }

  /* Main navbar */

  .nav-wrapper {
    position: absolute;
    margin: 270px auto 0;
    width: 650px;
    height: 50px;
    padding: 8px;
    background-color: #222831;
    font-size: 0;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
    top: 300px;
    left: 50%;
    transform: translate(-50%, -50%);
    visibility: visible;
  }

  .nav-link-wrapper a {
    /* Grab the anchors inside that class */

    font-size: 28px;
    text-transform: uppercase;
    color: white;
    text-decoration: none;
    line-height: 50px;
    position: relative;
    z-index: 1;
    display: inline-block;
    text-align: center;
    transition: 0.5s;
  }

  .btn1:hover,
  .btn2:hover,
  .btn3:hover,
  .btn4:hover {
    text-decoration: underline;
    color: red;
    transition: 0.5s;
  }

  .btn-current:hover {
    text-decoration: underline;
    color: #ffffff;
    transition: 0.5s;
  }

  nav #nav-animation {
    position: absolute;
    height: 100%;
    top: 0;
    z-index: 0;
    background: rgb(206, 15, 61);
    border-radius: 8px;
    transition: all 0.5s ease 0s;
  }

  .nav-link-wrapper a:nth-child(1) {
    width: 148px;
  }

  .nav-link-wrapper a:nth-child(2) {
    width: 148px;
  }

  .nav-link-wrapper a:nth-child(3) {
    width: 174px;
  }

  .nav-link-wrapper a:nth-child(4) {
    width: 180px;
  }

  .sticky {
    position: fixed;
    top: -230px;
  }

  .sticky + .content {
    padding-top: 60px;
  }

  @media (min-width: 952px) {
    .nav-wrapper {
      top: 480px;
    }

    .sticky {
      position: fixed;
      top: -230px;
    }

    .sticky + .content {
      padding-top: 60px;
    }
  }
}

/* TODO: Find a way to make min width 992px again 
with the navbar stickying in the right place after 
resizing the window */
