body { font-family: "Montserrat", Arial, "Lato", sans-serif;
    scroll-behavior: smooth;
    overflow-x: hidden;
    background-color: #f6f0ef;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    grid-template-rows: 1fr auto;
    flex-direction: column;
    padding: 0;
    margin: 0;
    min-height: 100vh;

    
}

.container {
    display: flex;
    flex-direction: column;
    margin: 5% 5%;
    padding: 20px;
    background-color: white;
    border-radius: 32px;
    text-align: center;
    font-size: 0.8em;

}


.header {
  color:#ce0f3d;
}

.links {
  display: grid;
  grid-template-columns: 1fr;
  font-size: 0.75em;
  
}

.links h1 {
  font-size: 1.5em;
}

@media only screen and (min-width: 560px) {
  .container {
    font-size: 1.25em;
    margin: 5% 10%;
    padding: 20px;
      
  }



}
@media only screen and (min-width: 952px) {
  .links {
    display: grid;
    grid-template-columns: 1fr 1fr;
    
  }

  .container {
    margin: 5% 10%;
    padding: 30px;
  }

  .links h1 {
    grid-column-start: span 2;
  }
}

@media only screen and (min-width: 1250px) {
  .links {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    
  }

  .container {
    margin: 5% 20%;
    padding: 50px;
    font-size: 1.5em;
  }

  .links h1 {
    grid-column-start: span 3;
  }
}






.links a {
    display: inline-block;
    margin: 10px;
    color: grey;
    text-decoration: none;
    border-bottom: 2px solid transparent;
    transition: 0.25s;
}

.links a:hover {
    color: red;
    transition: 0.5s;
  }








.anchors {
    display: flex;
    flex-direction: row;
    justify-self: center;

}


.home {
    color: #ce0f3d !important;
    font-weight: 900;
    transition: 0.25s;

}

.home:hover {
    color: red !important;
    transition: 0.5s;
}



/* --- FOOTER ---  */




.mainFooter {
    background-color: #222831;
    color: #fff;
    text-align: center;
    padding: 10px;
    font-size: 20px;
    width: 100%;
    margin-top: auto;
    grid-row-start: 2;
    grid-row-end: 3;
    height: 130px;
    position: fixed;
    bottom: 0;

  }
  
  .mainFooter a {
    color: white;
    text-decoration: none;
    border-bottom: 2px solid transparent;
    transition: 0.5s;
  }
  
  .mainFooter a:hover {
    border-bottom: 2px solid white;
    transition: 0.5s;
  }
  
  .mainFooter h6 {
    font-size: 0.75em;
    font-weight: normal;
  }
  